body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  background-image: url(../../img/honey-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 170px;
  margin-bottom: 50px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 28px;
}

.site-navigation-item {
  margin-right: 25px;
  height: 28;
}

.site-navigation-item:nth-child(5) {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.site-navigation-item:last-child {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.site-navigation-item:nth-child(5) a,
.site-navigation-item:last-child a {
  height: 25px;
}

.site-navigation-item a {
  color: #000000;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.mobile-interface {
  display: none;
}

.mobile-navigation {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  font-size: 18px;
  line-height: 36px;
}

.mobile-navigation a {
  text-decoration: none;
  color: #000;
}

.mobile-navigation li {
  width: 160px;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
  color: red;
  display: none;
}

.mobile-navigation-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-navigation-panel.active {
  transform: translateX(0);
}

.mobile-navigation-panel.active .close-button {
  display: block;
}

.hero {
  max-width: 932px;
  margin: 0 auto;
}

.service-info {
  display: flex;
  align-items: center;
}

.service-info img {
  max-width: 500px;
  max-height: 500px;
}

.parameters {
  text-align: center;
  max-width: 388px;
  margin-left: auto;
}

.parameters h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 43px;
}

.sum {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 30px;
}

.sum p {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.count {
  display: flex;
  align-items: center;
}

#count {
  margin-right: 10px;
  margin-left: 10px;
}

.transparent-button {
  background-color: transparent; /* Прозрачный фон */
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 28px;
  padding: 0;
}

.price {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 34px;
  color: #c74817;
}

#productStock {
  margin: 0;
  margin-bottom: 30px;
}

.inBasket {
  display: block;
  box-sizing: border-box;
  background-color: #ff8f0b;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 35px;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 18px;
  line-height: 14px;
  padding: 20px 33px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.hero h2 {
  margin: 0;
  margin-top: 45px;
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline;
}

.description {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.main-footer {
  display: flex;
  background: linear-gradient(to right, #ff9d2d, #ffd877);
  height: 138px;
}

.footer-nav {
  display: flex;
  width: 1170px;
  margin: 30px auto 40px;
  align-items: center;
}

.footer-navigation {
  display: flex;
  margin: 0;
  margin-left: 40px;
  margin-right: auto;
  padding: 0;
}

.footer-navigation-item {
  margin: 0;
  margin-right: 25px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 17px;
}

.footer-navigation-item a,
.contact-info-item a {
  color: #000000;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}

.contact-info {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 17px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-right: 25px;
  height: 32px;
}

.contact-info-item:last-child {
  margin: 0;
}

@media (max-width: 1024px) {
  .main-nav {
    max-width: 1000px;
  }
  .hero {
    max-width: 800px;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
  }
  .footer-navigation {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-nav {
    max-width: 700px;
  }
  .site-navigation {
    display: none;
  }

  .mobile-interface {
    display: flex;
    align-items: center;
  }
  .hero {
    max-width: 500px;
  }
  .service-info {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .hero {
    max-width: 350px;
  }
  .service-info img {
    max-width: 350px;
    max-height: 350px;
  }
  .main-footer {
    height: auto;
  }
  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
  .contact-info {
    flex-direction: column;
  }
  .contact-info-item {
    margin: 20px auto 0;
  }
  .contact-info-item:last-child {
    display: flex;
    margin: 20px auto 0;
  }
}

@media (max-width: 375px) {
  .main-nav {
    max-width: 320px;
  }
  .hero {
    max-width: 320px;
  }
  .service-info img {
    max-width: 320px;
    max-height: 320px;
  }
}

@media (max-width: 320px) {
  .main-nav {
    max-width: 300px;
  }
  .hero {
    max-width: 300px;
  }
  .service-info img {
    max-width: 300px;
    max-height: 300px;
  }
}
