body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  background-image: url(../../img/honey-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 170px;
  margin-bottom: 50px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 28px;
}

.site-navigation-item {
  margin-right: 25px;
  height: 28;
}

.site-navigation-item:nth-child(5) {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.site-navigation-item:last-child {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.site-navigation-item:nth-child(5) a,
.site-navigation-item:last-child a {
  height: 25px;
}

.site-navigation-item a {
  color: #000000;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.mobile-interface {
  display: none;
}

.mobile-navigation {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  font-size: 18px;
  line-height: 36px;
}

.mobile-navigation a {
  text-decoration: none;
  color: #000;
}

.mobile-navigation li {
  width: 160px;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
  color: red;
  display: none;
}

.mobile-navigation-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-navigation-panel.active {
  transform: translateX(0);
}

.mobile-navigation-panel.active .close-button {
  display: block;
}

.hero {
  width: 550px;
  height: 1000px;
  margin: 100px auto 0;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 40px 50px;
  box-sizing: border-box;
  background: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
}

.hero h2 {
  margin: 0;
  padding: 0;
}

.customInput {
  width: 420px;
  height: 35px;
  font-size: 18px;
  line-height: 22px;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 0 10px;
}

.buttons {
  width: 220px;
  margin: 50px auto 0;
  text-align: center;
}

.btn {
  display: block;
  box-sizing: border-box;
  background-color: #ff8f0b;
  color: white;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 35px;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 18px;
  line-height: 14px;
  padding: 20px 33px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn:last-child {
  margin-top: 40px;
}

.main-footer {
  display: flex;
  background: linear-gradient(to right, #ff9d2d, #ffd877);
  height: 138px;
  margin-top: 160px;
}

.footer-nav {
  display: flex;
  width: 1170px;
  margin: 30px auto 40px;
  align-items: center;
}

.footer-navigation {
  display: flex;
  margin: 0;
  margin-left: 40px;
  margin-right: auto;
  padding: 0;
}

.footer-navigation-item {
  margin: 0;
  margin-right: 25px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 17px;
}

.footer-navigation-item a,
.contact-info-item a {
  color: #000000;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}

.contact-info {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 17px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-right: 25px;
  height: 32px;
}

.contact-info-item:last-child {
  margin: 0;
}
